<%= form_for(@user, html: {class: "nav-form"}) do |f| %>

  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4>Attention!</h4>
      A wild error appeared:
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="form">
    <li class="field">
      <label>Name </label>
      <%= f.text_field :name, placeholder:"Name", class: "span8" %>
    </li>
    <li class="field">
      <label>Email </label>
      <%= f.text_field :email, placeholder:"Email", class: "span8" %>
    </li>
    <li class="field">
      <label>Team </label>
      <%= f.collection_select(:team_id, @teams, :id, :name) %>
    </li>
    <li class="field">
      <label>Password </label>
      <%= f.password_field :password, placeholder:"Password", class: "password_field" %>
    </li>
    <li class="field">
      <label>Password Confirmation</label>
      <%= f.password_field :password_confirmation, placeholder:"Confirmation", class: "password_field" %>
    </li>

    <%= f.hidden_field :role, value: "user" %>

    <li class="field">
      <%= f.submit "Save", class: "btn btn-primary btn-inverse" %>
    </li>
  </ul>
<% end %>
